@import './partials/variables';

// Home Page Hero Section

.hmpg-sec-outer {
    background-color: var(--white);
    position: relative;
    overflow: hidden;
}

.pattern-1 {
    background-image: radial-gradient(var(--site-color-1) 2px, transparent 2px);
    background-size: 15px 15px;
    background-color: rgba(255, 255, 255, 0);
}

.pattern-2 {
    background-image: radial-gradient(var(--site-color-2) 2px, transparent 2px);
    background-size: 15px 15px;
    background-color: rgba(255, 255, 255, 0);
}

.hmpg-bsec-pat-1 {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    z-index: 1;
    @extend .pattern-1;
}

.hmpg-bsec-pat-2 {
    position: absolute;
    right: 200px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    z-index: 1;
    @extend .pattern-2;
}

.hmpg-sec-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0px;
    min-height: calc(100vh - 94px);
    position: relative;
    z-index: 3;
}

.hmpg-bsec-pad-1 {
    padding-bottom: 15px;
}

.hmpg-bsec-pad-2 {
    padding-top: 10px;
}

.hmpg-bsec-ttl-1 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-family: $font_0;
    font-size: 50px;
    font-weight: 500;
    color: var(--site-color-4);
    transition: var(--site-standard-transition-delay);
    & .highlight {
        color: var(--site-color-1);
        transition: var(--site-standard-transition-delay);
    }
}

.hmpg-bsec-dscr-1 {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    color: var(--site-color-4);
    transition: var(--site-standard-transition-delay);
    &.max-w1 {
        max-width: 450px;
    }
}

.hmpg-bsec-pos {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    & .vector-graphic-img {
        display: inline-block;
        width: 500px;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .hmpg-bsec-pos {
        display: none;
    }
}

@media (max-width: 800px) {
    .hmpg-sec-inner {
        min-height: calc(100vh - 90px);
    }
}

@media (max-width: 767px) {
    .hmpg-bsec-ttl-1 {
        font-size: 28px;
        word-break: break-all;
    }
}

// hmpg-whycu-sotr

.hmpg-whycu-sotr {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--site-color-3);
    transition: var(--site-standard-transition-delay);
}

.hmpg-wpad-1 {
    padding-bottom: 50px;
}

.hmpg-whycu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.hmpg-whycu-item {
    background-color: var(--white);
    color: var(--site-color-dark-1);
    padding: 30px;
    transition: var(--site-standard-transition-delay);
    &:nth-child(odd) {
        background-color: var(--site-color-2);
    }
    &:nth-child(even) {
        background-color: var(--site-color-1);
    }
    & .svg-icon {
        display: inline-block;
        width: 70px;
        height: 70px;
    }
    & .fill {
        fill: var(--site-color-dark-1);
        transition: var(--site-standard-transition-delay);
    }
    & .stroke {
        stroke: var(--site-color-dark-1);
        transition: var(--site-standard-transition-delay);
    }
    &:hover {
        background-color: var(--white);
        color: var(--site-color-4);
        & .fill {
            fill: var(--site-color-4);
        }
        & .stroke {
            stroke: var(--site-color-4);
        }
    }
}

.hmpg-whycu-svgipd {
    padding-bottom: 10px;
}

.hmpg-whycu-ttl {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    &.def-pad {
        padding: 0px 0px 10px 0px;
    }
}

.hmpg-whycu-dscr {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .hmpg-whycu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .hmpg-wpad-1 {
        padding-bottom: 20px;
    }
    .hmpg-whycu-grid {
        grid-template-columns: 1fr;
    }
    .hmpg-whycu-item {
        & .svg-icon {
            width: 50px;
            height: 50px;
        }
    }
    .hmpg-whycu-ttl {
        font-size: 18px;
        &.def-pad {
            padding: 0px 0px 5px 0px;
        }
    }
    .hmpg-whycu-dscr {
        font-size: 14px;
    }
}