@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font: "Noto Sans", sans-serif;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --site-color-1: #ed1c24;
    --site-color-2: #015598;
    --site-color-3: #f4f4f4;
    --site-color-4: #111111;
    --site-color-dark-1: #f4f4f4;
    --site-color-dark-2: #111111;
    --site-header-bgc: #ffffff;
    --site-standard-gap-1: 20px;
    --site-standard-transition-delay: 0.5s;
}

body {
    font-family: $font;
    font-weight: 300;
    font-style: normal;
    color: var(--site-color-4);
}

.dark {
    --site-color-3: var(--site-color-dark-2);
    --site-color-4: var(--site-color-dark-1);
    --site-header-bgc: var(--site-color-dark-2);
}

.site-container {
    max-width: 1360px;
    margin: 0px auto;
    padding: 0px var(--site-standard-gap-1);
}